[Unit]
Description=Btrfs snapshot
Conflicts=btrfs-snapshot@.service
After=btrfs-snapshot@.service

[Service]
Nice=19
IOSchedulingClass=idle
KillSignal=SIGINT
ExecStart=/usr/bin/btrfs-snapshot -C
