[Unit]
Description=Daily Btrfs snapshot for config %i
Conflicts=btrfs-snapshot.timer

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
