[Unit]
Description=Daily Btrfs snapshot for config %i
Conflicts=btrfs-snapshot.timer
After=btrfs-snapshot.timer

[Timer]
OnCalendar=daily
AccuracySec=12h
Persistent=true

[Install]
WantedBy=multi-user.target
