[Unit]
Description=Btrfs snapshot for config %i
Documentation=https://github.com/YHNdnzj/btrfs-snapshot
Conflicts=btrfs-snapshot.service

[Service]
ExecStart=/usr/bin/btrfs-snapshot -c %i

[Install]
WantedBy=multi-user.target
