[Unit]
Description=Btrfs snapshot
Documentation=https://github.com/YHNdnzj/btrfs-snapshot

[Service]
ExecStart=/usr/bin/btrfs-snapshot -C

[Install]
WantedBy=multi-user.target
